#app {
  background: $light;

  #application-wrapper {
    background: $white;
    display: flex;

    #styleguide-content,
    #styleguide-navigation {
      flex: 0 0 auto;
      width: 20%;
      min-width: rem(220);
    }

    #styleguide-content {
      flex: 1 1 auto;

      section.cljstyleguide-section {
        padding: rem(40);

        article {
          margin-bottom: rem($application-spacing);
        }
      }
    }

    #styleguide-navigation {
      background: $light;
    }
  }
}
