table {
  color: $black;
  width: 100%;
  text-align: left;

  thead,
  tbody,
  tfoot {
    tr {
      th,td {
        padding: rem(5);
      }
    }
  }

  thead {
    tr {
      th {
        font-weight: $normal;
        border-bottom: 1px solid $grey;
        color: $dark;
      }
    }
  }

  tbody {
    tr {
      td {
        background-color: $white;
      }
    }
  }
}
