@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
.bg-red {
  background: #FF4136; }

.fill-red {
  fill: #FF4136; }

.bdr-red {
  border: 1px solid #FF4136; }

.red {
  color: #FF4136; }

.bg-orange {
  background: #FF851B; }

.fill-orange {
  fill: #FF851B; }

.bdr-orange {
  border: 1px solid #FF851B; }

.orange {
  color: #FF851B; }

.bg-yellow {
  background: #FFDC00; }

.fill-yellow {
  fill: #FFDC00; }

.bdr-yellow {
  border: 1px solid #FFDC00; }

.yellow {
  color: #FFDC00; }

.bg-green {
  background: #2ECC40; }

.fill-green {
  fill: #2ECC40; }

.bdr-green {
  border: 1px solid #2ECC40; }

.green {
  color: #2ECC40; }

.bg-blue {
  background: #0074D9; }

.fill-blue {
  fill: #0074D9; }

.bdr-blue {
  border: 1px solid #0074D9; }

.blue {
  color: #0074D9; }

.bg-pink {
  background: #e60c85d9; }

.fill-pink {
  fill: #e60c85d9; }

.bdr-pink {
  border: 1px solid #e60c85d9; }

.pink {
  color: #e60c85d9; }

.bg-purple {
  background: #B10DC9; }

.fill-purple {
  fill: #B10DC9; }

.bdr-purple {
  border: 1px solid #B10DC9; }

.purple {
  color: #B10DC9; }

.bg-navy {
  background: #34495e; }

.fill-navy {
  fill: #34495e; }

.bdr-navy {
  border: 1px solid #34495e; }

.navy {
  color: #34495e; }

.bg-aqua {
  background: #7FDBFF; }

.fill-aqua {
  fill: #7FDBFF; }

.bdr-aqua {
  border: 1px solid #7FDBFF; }

.aqua {
  color: #7FDBFF; }

.bg-teal {
  background: #39CCCC; }

.fill-teal {
  fill: #39CCCC; }

.bdr-teal {
  border: 1px solid #39CCCC; }

.teal {
  color: #39CCCC; }

.bg-maroon {
  background: #85144b; }

.fill-maroon {
  fill: #85144b; }

.bdr-maroon {
  border: 1px solid #85144b; }

.maroon {
  color: #85144b; }

.bg-lime {
  background: #01FF70; }

.fill-lime {
  fill: #01FF70; }

.bdr-lime {
  border: 1px solid #01FF70; }

.lime {
  color: #01FF70; }

.bg-olive {
  background: #3D9970; }

.fill-olive {
  fill: #3D9970; }

.bdr-olive {
  border: 1px solid #3D9970; }

.olive {
  color: #3D9970; }

.bg-white {
  background: #fff; }

.fill-white {
  fill: #fff; }

.bdr-white {
  border: 1px solid #fff; }

.white {
  color: #fff; }

.bg-light {
  background: #f9f9f9; }

.fill-light {
  fill: #f9f9f9; }

.bdr-light {
  border: 1px solid #f9f9f9; }

.light {
  color: #f9f9f9; }

.bg-grey {
  background: #e5e5e5; }

.fill-grey {
  fill: #e5e5e5; }

.bdr-grey {
  border: 1px solid #e5e5e5; }

.grey {
  color: #e5e5e5; }

.bg-dark {
  background: #666; }

.fill-dark {
  fill: #666; }

.bdr-dark {
  border: 1px solid #666; }

.dark {
  color: #666; }

.bg-almost-black {
  background: #333; }

.fill-almost-black {
  fill: #333; }

.bdr-almost-black {
  border: 1px solid #333; }

.almost-black {
  color: #333; }

.bg-black {
  background: #000; }

.fill-black {
  fill: #000; }

.bdr-black {
  border: 1px solid #000; }

.black {
  color: #000; }

.bg-brand {
  background: #0074D9; }

.fill-brand {
  fill: #0074D9; }

.bdr-brand {
  border: 1px solid #0074D9; }

.brand {
  color: #0074D9; }

.bg-primary {
  background: #0074D9; }

.fill-primary {
  fill: #0074D9; }

.bdr-primary {
  border: 1px solid #0074D9; }

.primary {
  color: #0074D9; }

.bg-secondary {
  background: #f9f9f9; }

.fill-secondary {
  fill: #f9f9f9; }

.bdr-secondary {
  border: 1px solid #f9f9f9; }

.secondary {
  color: #f9f9f9; }

.bg-success {
  background: #2ECC40; }

.fill-success {
  fill: #2ECC40; }

.bdr-success {
  border: 1px solid #2ECC40; }

.success {
  color: #2ECC40; }

.bg-info {
  background: #39CCCC; }

.fill-info {
  fill: #39CCCC; }

.bdr-info {
  border: 1px solid #39CCCC; }

.info {
  color: #39CCCC; }

.bg-warning {
  background: #FFDC00; }

.fill-warning {
  fill: #FFDC00; }

.bdr-warning {
  border: 1px solid #FFDC00; }

.warning {
  color: #FFDC00; }

.bg-error {
  background: #FF4136; }

.fill-error {
  fill: #FF4136; }

.bdr-error {
  border: 1px solid #FF4136; }

.error {
  color: #FF4136; }

span[role='debug'] {
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000; }
  @media (min-width: 1024px) {
    span[role='debug'] {
      border-top: 5px solid #2ECC40; } }
  @media (max-width: 1024px) {
    span[role='debug'] {
      border-top: 5px solid #FFDC00; } }
  @media (max-width: 500px) {
    span[role='debug'] {
      border-top: 5px solid #FF4136; } }

html,
body {
  font-family: 'Open Sans', sans-serif;
  color: #000;
  line-height: 1.625rem; }

.bold {
  font-weight: 700; }

.italic {
  font-style: italic; }

.underline {
  text-decoration: underline; }

.strike {
  text-decoration: line-through; }

.uppercase {
  text-transform: uppercase; }

.downcase {
  text-transform: lowercase; }

.capitalize {
  text-transform: capitalize; }

hr {
  border: none;
  border-bottom: 1px solid #e5e5e5;
  margin: 2.5rem 0; }

h1 {
  font-size: 2.25rem;
  font-weight: 400; }

h2 {
  font-size: 2rem;
  font-weight: 400; }

h3 {
  font-size: 1.625rem;
  font-weight: 400; }

h4 {
  font-size: 1.375rem;
  font-weight: 400; }

h5 {
  font-size: 1.125rem;
  font-weight: 400; }

p.lead,
blockquote.lead {
  font-size: 1.125rem;
  line-height: 2.25rem; }

p.subtle,
blockquote.subtle {
  font-size: 0.875rem;
  color: #666;
  line-height: 1.25rem; }

blockquote {
  border-left: 1px solid #e5e5e5;
  padding-left: 0.625rem; }

code {
  color: #e60c85d9;
  background: #f9f9f9;
  padding: 0.3125rem; }

.badge {
  border-radius: 3px;
  padding: 0.3125rem;
  font-size: 0.75rem;
  color: #fff;
  line-height: 0.625rem; }

.flex {
  display: flex;
  flex-direction: row; }
  .flex .box {
    flex: 0 1 auto; }
  .flex.column {
    flex-direction: column; }

.inline-block {
  display: inline-block; }

.block {
  display: block; }

.m-0 {
  margin: 0rem; }

.mt-0 {
  margin-top: 0rem; }

.mb-0 {
  margin-bottom: 0rem; }

.ml-0 {
  margin-left: 0rem; }

.mr-0 {
  margin-right: 0rem; }

.p-0 {
  padding: 0rem; }

.pt-0 {
  padding-top: 0rem; }

.pb-0 {
  padding-bottom: 0rem; }

.pl-0 {
  padding-left: 0rem; }

.pr-0 {
  padding-right: 0rem; }

.m-10 {
  margin: 0.625rem; }

.mt-10 {
  margin-top: 0.625rem; }

.mb-10 {
  margin-bottom: 0.625rem; }

.ml-10 {
  margin-left: 0.625rem; }

.mr-10 {
  margin-right: 0.625rem; }

.p-10 {
  padding: 0.625rem; }

.pt-10 {
  padding-top: 0.625rem; }

.pb-10 {
  padding-bottom: 0.625rem; }

.pl-10 {
  padding-left: 0.625rem; }

.pr-10 {
  padding-right: 0.625rem; }

.m-20 {
  margin: 1.25rem; }

.mt-20 {
  margin-top: 1.25rem; }

.mb-20 {
  margin-bottom: 1.25rem; }

.ml-20 {
  margin-left: 1.25rem; }

.mr-20 {
  margin-right: 1.25rem; }

.p-20 {
  padding: 1.25rem; }

.pt-20 {
  padding-top: 1.25rem; }

.pb-20 {
  padding-bottom: 1.25rem; }

.pl-20 {
  padding-left: 1.25rem; }

.pr-20 {
  padding-right: 1.25rem; }

.m-30 {
  margin: 1.875rem; }

.mt-30 {
  margin-top: 1.875rem; }

.mb-30 {
  margin-bottom: 1.875rem; }

.ml-30 {
  margin-left: 1.875rem; }

.mr-30 {
  margin-right: 1.875rem; }

.p-30 {
  padding: 1.875rem; }

.pt-30 {
  padding-top: 1.875rem; }

.pb-30 {
  padding-bottom: 1.875rem; }

.pl-30 {
  padding-left: 1.875rem; }

.pr-30 {
  padding-right: 1.875rem; }

.m-40 {
  margin: 2.5rem; }

.mt-40 {
  margin-top: 2.5rem; }

.mb-40 {
  margin-bottom: 2.5rem; }

.ml-40 {
  margin-left: 2.5rem; }

.mr-40 {
  margin-right: 2.5rem; }

.p-40 {
  padding: 2.5rem; }

.pt-40 {
  padding-top: 2.5rem; }

.pb-40 {
  padding-bottom: 2.5rem; }

.pl-40 {
  padding-left: 2.5rem; }

.pr-40 {
  padding-right: 2.5rem; }

.m-50 {
  margin: 3.125rem; }

.mt-50 {
  margin-top: 3.125rem; }

.mb-50 {
  margin-bottom: 3.125rem; }

.ml-50 {
  margin-left: 3.125rem; }

.mr-50 {
  margin-right: 3.125rem; }

.p-50 {
  padding: 3.125rem; }

.pt-50 {
  padding-top: 3.125rem; }

.pb-50 {
  padding-bottom: 3.125rem; }

.pl-50 {
  padding-left: 3.125rem; }

.pr-50 {
  padding-right: 3.125rem; }

table {
  background: #f9f9f9;
  color: #000;
  width: 100%;
  text-align: left; }
  table thead tr th, table thead tr td,
  table tbody tr th,
  table tbody tr td,
  table tfoot tr th,
  table tfoot tr td {
    padding: 0.3125rem; }
  table thead tr th {
    font-weight: 400;
    color: #666;
    border-bottom: 1px solid #e5e5e5; }
  table tbody tr td {
    background-color: #fff; }

#app {
  background: #f9f9f9;
  padding: 1.25rem; }
  #app .application-wrapper {
    width: 95%;
    margin: 1.25rem auto;
    background: #fff;
    padding: 1.25rem; }
    #app .application-wrapper section.cljstyleguide-section article {
      margin-bottom: 1.25rem; }
